body{
  font-family: "PT Sans", sans-serif;
}

/* header */


header{
  width: 1440px;
  margin: auto;
  padding: 38px 130px;
  background-color: #2A9D8F;
}

.logo-link{
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 660px;
  vertical-align: middle;
}

.logo{
  width: 100%;
  height: 100%;
}

.header-nav, .header-li{
  display: inline-block;
  
}

.header-nav{
  vertical-align: middle;
}

.active, .inactive{
font-weight: 700;
font-style: Bold;
font-size: 32px;
line-height: 32px;
letter-spacing: 1.5px;
text-align: center;
color: #FFFFFF;
}

.active{
  text-shadow: 4px 4px 4px #000000CC;
}

.limarg{
  margin-right: 72px;
}